@import url(./partials/general.css);

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
  font-family: 'squada one';
  min-height: 100dvh;
  margin: 0 auto;
  width: 90%;
  font-size: .7rem;
}

aside {
  padding: 20px;
  border-right: 2px solid var(--white-color);
  height: 100%;
  place-items: center;
  position: relative;

  #filter-form {
    position: sticky;
    top: 120px;
    max-height: calc(100% - 40px);
    overflow-y: auto;

    h2 {
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        input {
          margin-right: 10px;
        }
      }
    }
  }
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: auto;
  gap: .5rem;
  height: 100%;
  width: 100%;
}

article {
  text-align: center;
  height: 15rem;
  word-wrap: break-word;
  text-align: start;

  .img_container{
    text-align: center;
    width: 100%;
    height: 50%;
    border: .5px solid var(--grey-color);

    img {
      padding: 1rem;
      height: 100%;
      max-width: 100%;
      border-radius: 5px;
    }
  }

  .details_container{
    word-wrap: break-word;
    height: 50%;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    justify-content: space-between;

    h3{
      font-size: 1rem;
      font-weight: 1;
    }

    p{
      color: var(--blue-color);
      transition: .5s ease;
      cursor:default;
      margin-left: .5rem;
      font-size: 1.5rem;

      &:hover{
        translate:-2px -2px;
        text-shadow: 2px 2px 1px rgb(163, 163, 228);
      }
    }

    button{
      height: 2rem;
      background-color: var(--input-color);
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: .5s ease;
      display: flex;
      align-items: center;


      a{
        width: 100%;
        text-decoration: none;
        font-family: 'squada one';
        font-size: 1rem;
        color: var(--grey-color);
        transition: .5s ease;
      }

      &:hover{
        background-color: var(--blue-color);
        box-shadow: 0 0 7px var(--blue-color);

        a{
          color: var(--white-color);
          transform: scale(1.1);
        }
      }
    }
  }
}