/* Estilos en general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
  }
  
  /* Variables para colores */
  :root {
    --black-color: #0f0f0f;
    --white-color: #fefefe;
    --red-color: #B91616;
    --width: 100px;
    --height: 50px;
    --quantity: 14;
  }
  