@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Estilos en general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

/* Variables para colores */
:root {
  --black-color: #0f0f0f;
  --white-color: #fefefe;
  --red-color: #B91616;
  --blue-color: #207aa4;
  --width: 100px;
  --height: 50px;
  --quantity: 14;
}

/* Body */

html {
  font-size: 22px;
}

main{
  display: flex;
  flex-direction: column;
}