/* header */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  height: 120px;

  div {
    display: flex;
    height: 50%;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;

    nav {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  h1:hover {
    cursor: pointer;
  }
}

#togle {
  display: none;
}

/* Logo, barra de busqueda, boton de login y register y boton de compras */
#header-top {
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;

  h1 {
    transition: .5s ease;
    color: var(--white-color);

    span {
      color: var(--red-color);
    }
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  form {
    position: relative;

    input {
      padding-left: 10px;
      border: 0;
      height: 1.5rem;
      border-radius: 9999px;
    }

    .fa-magnifying-glass {
      color: var(--black-color);
      right: 10px;
      top: 5px;
      position: absolute;
      cursor: pointer;
    }
  }

  img {
    height: 1.5rem;
    cursor: pointer;
    transition: .5s ease;
  }

  h1:hover {
    text-shadow: 0 0 10px hsl(0, 0%, 20%);
    transform: rotate3d(8, 3, 1, 15deg);
  }
}

#header-top img:hover {
  transform: scale(1.1);
}

/* nav con uls */
#header-bottom {
  justify-content: center;

  #nav-desktop {
    flex-wrap: wrap;

    ul {
      cursor: pointer;
      position: relative;

      .div_nav-desktop {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: var(--black-color);
        backdrop-filter: opacity(0.5);
        padding: 10px;
        border-radius: 5px;
        top: 100%;
        left: 0;

        li {
          position: relative;
          display: none;
        }
      }
    }
  }
}

#header-bottom nav ul:hover .div_nav-desktop {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  li {
    display: block;

    a {
      color: var(--white-color);
      text-decoration: none;
    }
  }
}

#header-bottom nav ul div li:hover {
  text-decoration: underline;
}

#nav-mobile {
  display: none;
}

/* Comienzo de los estilos para celular del header */

@media (max-width: 768px) {
  header {
    z-index: 1;
    position: relative;

    #header-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      div {
        display: none;
      }
    }

    #header-bottom {
      width: 100%;

      #nav-desktop {
        display: none;
      }

      #nav-mobile {
        transition: all .5s ease;
      }
    }
  }

  input:checked~#nav-mobile {
    width: 100%;
    display: grid;
    grid-template-rows: max-content 3fr;
    background-color: var(--black-color);
    position: absolute;
    top: 100%;
    overflow: hidden;
    height: 100dvh;

    .search_navegation_movile {
      height: max-content;
      display: grid;
      align-content: center;
      justify-content: center;
      font-size: 20px;
      gap: 1rem;
      width: 100%;
      margin-top: 2rem;

      #form_search_movile {
        height: 40px;
        position: relative;

        #search_movile {
          display: block;
          height: 100%;
          width: 100%;
          border: 0;
          padding: 1rem;
          background-color: var(--black-color);
          border-bottom: 1px solid var(--white-color);
          color: var(--white-color);
          font-size: 1rem;
        }

        #lupa_search_movile {
          position: absolute;
          position: absolute;
          top: 10px;
          height: max-content;
          right: 0;
          color: var(--white-color);
        }
      }

      img {
        width: 30px;
        height: auto;
        margin: 0 auto;
      }
    }

    ul {
      display: grid;
      place-items: center;
      gap: 1rem;
      padding-bottom: 2rem;
      padding-top: 2rem;

      li {
        position: relative;
        text-align: center;
        width: max-content;
        font-size: 1.5em;

        a {
          color: var(--white-color);
          text-decoration: none;
          font-size: 2rem;
        }
      }
    }
  }

  #nav-mobile ul li::after {
    position: absolute;
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--white-color);
    bottom: -.2rem;
    left: -10%;
  }

  #nav-mobile ul li:hover::after {
    width: 120%;
    transition: .5s ease;
  }

  #togle-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30px;

    input {
      display: none;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 100%;
      position: relative;
      cursor: pointer;
    }
  }

  #togle-boton label span {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    transition: .5s ease;
  }

  #togle-boton label span:nth-child(1) {
    top: 0;
  }

  #togle-boton label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  #togle-boton label span:nth-child(3) {
    bottom: 0;
  }

  #togle-boton input:checked+label span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  #togle-boton input:checked+label span:nth-child(2) {
    opacity: 0;
  }

  #togle-boton input:checked+label span:nth-child(3) {
    transform: rotate(135deg);
    top: 50%;
  }
}