<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"><link rel="icon" href="/images/icons/SD.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/productEdit.css">
    <script src="https://kit.fontawesome.com/91e0160591.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <%- include('../partials/headerAdmin') %>

    <main>
        <section id="product">
            <h1>Agregar nuevo producto</h1>
            <form action="/admin/productAdding" method="POST" id="form_product">
                
                <label for="titulo">Nombre del producto:</label>
                <input type="text" id="titulo" name="titulo" required>
                
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*">
                
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" required>
                
                <label for="descuento">Descuento:</label>
                <input type="number" id="descuento" name="descuento" required>
                
                <label for="descripcion">Descripción:</label>
                <textarea style="height: max-content;" id="descripcion" name="descripcion" required></textarea>
                
                <label for="categoria">Categoría:</label>
                <input type="text" id="categoria" name="categoria" required>
                
                <label for="subcategoria">Subcategoría:</label>
                <input type="text" id="subcategoria" name="subcategoria" required>
                
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required>
                
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required>
                
                <button type="submit">Agregar producto</button>
            </form>
        </section>
    </main>
</body>

</html>