@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(../partials/header.css);
@import url(../partials/footer.css);
@import url(../keyframes.css);

/* Estilos en general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Variables para colores */
:root {
  --black-color: #0f0f0f;
  --white-color: #fefefe;
  --red-color: #B91616;
  --blue-color: #207aa4;
  --form-color: #3a3a3a;
  --input-color: #242428;
  --grey-color: #dadada;
  --green-color: #7ed957;
  --width: 100px;
  --height: 50px;
  --quantity: 14;
}

/* Body */

html {
  font-size: 22px;
}

main{
  display: flex;
  flex-direction: column;
}