<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/91e0160591.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <div id="header-top">
            <h1>SPORT<span>DEVS</span></h1>
            <div>
                <form action="search">
                    <input type="text" name="search">
                    <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                </form>
                <img src="../public/images/icons/fi_userlogin icon (1).png" alt="">
                <img src="../public/images/icons/fi_shopping-bagwallet_icon.png" alt="">
            </div>
        </div>
        <div id="header-bottom">
            <nav>
                <ul>
                    <h3>LANZAMIENTOS</h3>
                    <div>
                        <li><a href="#">Nuevos Productos</a></li>
                        <li><a href="#">Ediciones Limitadas</a></li>
                        <li><a href="#">Ofertas Exclusivas</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>MUJERES</h3>
                    <div>
                        <li><a href="#">Calzado Deportivo</a></li>
                        <li><a href="#">Ropa de Entrenamiento</a></li>
                        <li><a href="#">Accesorios</a></li>
                        <li><a href="#">Colecciones Populares</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>HOMBRES</h3>
                    <div>
                        <li><a href="#">Zapatillas</a></li>
                        <li><a href="#">Camisetas y Polos</a></li>
                        <li><a href="#">Pantalones y Shorts</a></li>
                        <li><a href="#">Accesorios</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>NIÑOS</h3>
                    <div>
                        <li><a href="#">Zapatillas</a></li>
                        <li><a href="#">Ropa Deportiva</a></li>
                        <li><a href="#">Sets de Entrenamiento</a></li>
                        <li><a href="#">Mochilas</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>MARCAS</h3>
                    <div>
                        <li><a href="#">Nike</a></li>
                        <li><a href="#">Adidas</a></li>
                        <li><a href="#">Puma</a></li>
                        <li><a href="#">Reebok</a></li>
                        <li><a href="#">Under Armour</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>DEPORTES</h3>
                    <div>
                        <li><a href="#">Fútbol</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Yoga</a></li>
                        <li><a href="#">Basketball</a></li>
                        <li><a href="#">Natación</a></li>
                    </div>
                </ul>
                <ul>
                    <h3>GAMING</h3>
                    <div>
                        <li><a href="#">Ropa Temática</a></li>
                        <li><a href="#">Accesorios para Gamers</a></li>
                        <li><a href="#">Colaboraciones Especiales</a></li>
                        <li><a href="#">Ofertas Exclusivas</a></li>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="section_banner">
            <img src="../public/images/banners/home oficial (1).svg" alt="">
        </section>
        <section>
            <div class="slider">
                <ul class="list">
                    <li style="--position: 1;"><img src="../public/images/icons/brands/logo_ (1).png" alt=""></li>
                    <li style="--position: 2;"><img src="../public/images/icons/brands/logo_ (2).png" alt=""></li>
                    <li style="--position: 3;"><img src="../public/images/icons/brands/logo_ (3).png" alt=""></li>
                    <li style="--position: 4;"><img src="../public/images/icons/brands/logo_ (4).png" alt=""></li>
                    <li style="--position: 5;"><img src="../public/images/icons/brands/logo_ (5).png" alt=""></li>
                    <li style="--position: 6;"><img src="../public/images/icons/brands/logo_ (6).png" alt=""></li>
                    <li style="--position: 7;"><img src="../public/images/icons/brands/logo_ (7).png" alt=""></li>
                    <li style="--position: 8;"><img src="../public/images/icons/brands/logo_ (8).png" alt=""></li>
                    <li style="--position: 9;"><img src="../public/images/icons/brands/logo_ (9).png" alt=""></li>
                    <li style="--position: 10;"><img src="../public/images/icons/brands/logo_ (10).png" alt=""></li>
                    <li style="--position: 11;"><img src="../public/images/icons/brands/logo_ (11).png" alt=""></li>
                    <!-- <li style="--position: 12;"><img src="../public/images/icons/brands/logo_ (12).png" alt=""></li> -->
                    <li style="--position: 12;"><img src="../public/images/icons/brands/logo_ (13).png" alt=""></li>
                    <li style="--position: 13;"><img src="../public/images/icons/brands/logo_ (14).png" alt=""></li>
                    <li style="--position: 14;"><img src="../public/images/icons/brands/logo_ (15).png" alt=""></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div id="footer-top">
            <nav>
                <ul>
                    <h3>PRODUCTOS</h3>
                    <li>Calzado</li>
                    <li>Ropa</li>
                    <li>Accesorios</li>
                    <li>Rompevientos</li>
                    <li>Conjuntos</li>
                    <li>Ojotas</li>
                </ul>
                <ul>
                    <h3>DEPORTES</h3>
                    <li>Sellección Argentina</li>
                    <li>River Plate</li>
                    <li>Boca Juniors</li>
                    <li>Fútbol</li>
                    <li>Running</li>
                    <li>Basquet</li>
                    <li>Training</li>
                </ul>
                <ul>
                    <h3>ASISTENCIA</h3>
                    <li><img src="../public/images/icons/Extreme Game and Skateboard Channel Youtube Thumbnail (10) 1Asistance Button.png"
                            alt="" class="img-footer"></li>
                    <li>Preguntas frecuentes</li>
                    <li>Realizar pedido</li>
                    <li>Productos Adidas</li>
                    <li>Pago</li>
                    <li>Envio</li>
                    <li>Devoluciones</li>
                    <li>Cambio en tiendas</li>
                </ul>
                <div>
                    <ul>
                        <h3>INFORMACIÓN DE LA EMPRESA</h3>
                        <li>Acerca de Adidas</li>
                        <li>Trabajar con nosotros</li>
                        <li>Prensa</li>
                        <li>Información corporativa</li>
                    </ul>
                    <ul>
                        <h3>TIENDAS</h3>
                        <li>Buscador de tiendas</li>
                    </ul>
                    <ul>
                        <h3>SIGUENOS</h3>
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-tiktok"></i></li>
                        <li><i class="fa-brands fa-youtube"></i></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="footer-bottom">
            <p style="cursor: pointer;">Configuración de las coockies | Nuestros datos | Términos y condiciones |
                Política de Coockies | Política de Privacidad | Reclamos
                <br>© 2024 SportDevs Argentina
            </p>
        </div>
    </footer>
</body>

</html>