<%-include("./partials/head.ejs")%>

    <body>

        <%-include("./partials/header.ejs")%>

            <main>
                <section id="section_banner">
                    <img src="/images/banners/home oficial (1).svg" alt="">
                </section>
                <section id="section_slider">
                    <div class="slider">
                        <ul class="list">
                            <li style="--position: 1;"><img src="/images/icons/brands/logo_ (1).png" alt=""></li>
                            <li style="--position: 2;"><img src="/images/icons/brands/logo_ (2).png" alt=""></li>
                            <li style="--position: 3;"><img src="/images/icons/brands/logo_ (3).png" alt=""></li>
                            <li style="--position: 4;"><img src="/images/icons/brands/logo_ (4).png" alt=""></li>
                            <li style="--position: 5;"><img src="/images/icons/brands/logo_ (5).png" alt=""></li>
                            <li style="--position: 6;"><img src="/images/icons/brands/logo_ (6).png" alt=""></li>
                            <li style="--position: 7;"><img src="/images/icons/brands/logo_ (7).png" alt=""></li>
                            <li style="--position: 8;"><img src="/images/icons/brands/logo_ (8).png" alt=""></li>
                            <li style="--position: 9;"><img src="/images/icons/brands/logo_ (9).png" alt=""></li>
                            <li style="--position: 10;"><img src="/images/icons/brands/logo_ (10).png" alt=""></li>
                            <li style="--position: 11;"><img src="/images/icons/brands/logo_ (11).png" alt=""></li>
                            <!-- <li style="--position: 12;"><img src="/images/icons/brands/logo_ (12).png" alt=""></li> -->
                            <li style="--position: 12;"><img src="/images/icons/brands/logo_ (13).png" alt=""></li>
                            <li style="--position: 13;"><img src="/images/icons/brands/logo_ (14).png" alt=""></li>
                            <li style="--position: 14;"><img src="/images/icons/brands/logo_ (15).png" alt=""></li>
                        </ul>
                    </div>
                </section>
                <section id="clothing_brands">
                    <article class="brands">
                        <h2>NUESTRAS <span>MARCAS</span></h2>
                        <ul>
                            <li><img src="/images/icons/brands/logo_ (2).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (1).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (3).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (4).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (5).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (6).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (7).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (8).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (9).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (10).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (11).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (12).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (13).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (14).png" alt=""></li>
                            <li><img src="/images/icons/brands/logo_ (15).png" alt=""></li>
                        </ul>
                    </article>
                </section>
                <section id="black_friday">
                    <article class="h2_black_friday">
                        <h2>BLACK <span>FRIDAY</span></h2>
                    </article>
                    <article class="banner_black_friday">
                        <img src="/images/banners/black_friday_banner.png" alt="Black Friday Banner">
                    </article>
                </section>
            </main>

            <%-include("./partials/footer.ejs")%>
            <script src="../"></script>
    </body>

    </html>