<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/91e0160591.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="header-top">
            <h1>SPORT<span>DEVS</span></h1>
            <div>
                <form action="search">
                    <input type="text" name="text">
                    <label for="text"><i class="fa-solid fa-magnifying-glass"></i></label>
                </form>
                <img src="../public/images/icons/fi_userlogin icon (1).png" alt="">
                <img src="../public/images/icons/fi_shopping-bagwallet_icon.png" alt="">
            </div>
        </div>
        <div id="header-bottom">
            <nav>
                <ul>LANZAMIENTOS</ul>
                <ul>MUJERES</ul>
                <ul>HOMBRES</ul>
                <ul>NIÑOS</ul>
                <ul>MARCAS</ul>
                <ul>DEPORTES</ul>
                <ul>GAMING</ul>
            </nav>
        </div>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</body>
</html>