<div id="header-top">
    <a href="/" style="text-decoration: none;">
        <h1>SPORT<span>DEVS</span></h1>
    </a>
    <div>
        <form action="search">
            <input type="text" name="search">
            <button type="submit">
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            </button>
        </form>
        <a href="/login/logout">
            <img src="/images/icons/logout.png" alt="logout icon">
        </a>
        <a href="/pay">
            <img src="/images/icons/fi_shopping-bagwallet_icon.png" alt="Carrito de compras">
        </a>
    </div>
</div>