<header style="max-height: max-content; position: initial;">
    <div id="header-top">
        <a href="/" style="text-decoration: none;">
            <h1>SPORT<span>DEVS</span></h1>
        </a>
        <div>
            <a href="/login">
                <img src="/images/icons/fi_userlogin icon (1).png" alt="login icon">
            </a>
            <a href="/pay">
                <img src="/images/icons/fi_shopping-bagwallet_icon.png" alt="Carrito de compras">
            </a>
        </div>
    </div>
</header>